{#
/**
 * @file
 * Two column template for the event add/edit form.
 *
 * Available variables:
 * - form: The form.
 *
 * @ingroup themeable
 */
#}
<div class="layout-event-form clearfix">
  <div class="layout-region layout-region-event-main">
    {{ form|without('advanced', 'actions') }}
  </div>
  <div class="layout-region layout-region-event-secondary">
    {{ form.advanced }}
  </div>
  <div class="layout-region layout-region-event-footer">
    {{ form.actions }}
  </div>
</div>
